html, body {
  margin: 0;
  padding: 0;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 0;
}

.square {
  position: relative;
  flex: 1 1 11cm; 
  aspect-ratio: 1 / 1; 
  display: flex;
  min-width: 11cm;
}

.square img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.35s ease;
}

.square:hover .overlay {
  opacity: 1;
}

.overlay a {
  text-decoration: none;
  font-size: 1.5em;
  margin: 0;
  padding: 0.3em 0.6em;
}

a:hover {
  text-decoration: underline;
}

.info {
    display:flex;
    justify-content: space-between;
    width: 97%;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 1%;
    font-size: 0.75em;
}

.name {
    display:flex;
    justify-content: center;
    text-align: center;
    width: 75%;
    padding: 0; 
    margin: 0 0.6em 0.1em;
    font-size: 1.5em;        
}
.type {
    display:flex;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    width: 75%;
    padding: 0;
    margin: 0 0 0.6em;
    font-size: 1em;        
}

@font-face {
    font-family: 'Goudy Heavyface Std';
    src: url('GoudyStd-Heavyface.woff2') format('woff2'),
        url('GoudyStd-Heavyface.woff') format('woff'),
        url ('Goudy Heavyface Std Regular.otf') format('otf');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

.desc {
    font-size:1em;
    width: 40vw;
    border: 2px solid black;
    padding: 1em 1em 0;
    margin: 2em auto;
    white-space: pre-wrap;
    text-align: center;
    font-family: serif;
}

.links {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 2em;
}